pipwin
# habis install pipwin run pipwin install pyaudio
SpeechRecognition
pyttsx3==2.71
qrcode[pil]
pywhatkit
psutil
requests
pyautogui
sketchpy
datetime 
webbrowser
pygame
pillow
# langsung ketik "pip install -r requirements" buat install semua paket yang dibutuhkan di file main.py